# aptinstall desktop config

install_packages

enable_flathub
enable_locate
# enable_unattended

# disable_tty1
# disable_sudofile
# disable_sudopasswd

# configure_fail2ban
# configure_ufw
# configure_sshd
