# aptinstall desktop config

install_packages=on

enable_locate=off
enable_unattended=off

disable_tty1=off
disable_sudofile=off

configure_fail2ban=off
configure_ufw=off
configure_sshd=off

disable_sudopasswd=off