# aptinstall server config

install_packages=on

enable_locate=on
enable_unattended=on

disable_tty1=on
disable_sudofile=on

configure_fail2ban=off
configure_ufw=off
configure_sshd=on

disable_sudopasswd=off