## aptinstall debian list
# certbot
# ufw
colordiff
curl
duf
fail2ban
fd-find
fzf
git
htop
localepurge
make
ncdu
net-tools
pipes-sh
plocate
ripgrep
rsync
shfmt
ssh-audit
sysstat
tree
tty-clock
unzip
unattended-upgrades
vim
zip
zoxide
