## aptinstall debian list
# certbot
colordiff
curl
duf
fail2ban
fd-find
fzf
git
htop
# localepurge
ncdu
net-tools
pipes-sh
plocate
ripgrep
rsync
sysstat
tree
tty-clock
# ufw
unzip
unattended-upgrades
vim
zip
zoxide
