## aptinstall ubuntu list
colordiff
curl
duf
fd-find
fonts-jetbrains-mono
fzf
git
gnome-shell-extension-manager
# gnome-software
# gnome-software-plugin-flatpak
gnome-tweaks
htop
make
ncdu
net-tools
papirus-icon-theme
pipes-sh
plocate
ripgrep
rsync
sysstat
tree
tty-clock
unzip
vim
zip
zoxide
